/* Estilos para la página Sobre Nosotros */
.about-section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: white;
}

.carousel {
    position: relative;
    flex: 1;
    max-width: 50%;
    padding: 10px;
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.carousel-item {
    display: none;
    width: 100%;
    height: auto;
}

.carousel-item.active {
    display: block;
}

.carousel-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
}

.carousel-control.prev {
    left: 10px;
}

.carousel-control.next {
    right: 10px;
}

.about-text {
    flex: 1;
    max-width: 50%;
    padding: 10px;
    color: var(--letters);

    font-family: var(--OpenSans);
}

.about-text h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: var(--contrast);

}

.about-text p {
    font-size: 1.2em;
    line-height: 1.6;
}

/* Estilos responsive */
@media (max-width: 768px) {
    .about-section {
        flex-direction: column;
    }

    .carousel, .about-text {
        max-width: 100%;
    }

    .about-text h1 {
        font-size: 2em;
    }

    .about-text p {
        font-size: 1em;
    }
}