/* Estilos del banner */
.banner_container {
    width: 100vw;
    height: 90vh;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner_element {
    width: 100%;
    height: 100%; 
    filter: brightness(0.5); 
    position: absolute;
    transition: opacity 1s ease-in-out;
    opacity: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1; /* Asegura que el banner esté debajo del texto */
}

.banner_element.active {
    opacity: 1;
}

/* TITULO */
.banner_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50%;
    width: 70%;
    position: absolute;
    color: white;
    text-align: center;
    z-index: 2; /* Asegura que el texto esté encima del banner */
    font-family: var(--OpenSans);
}

.tituloBanner {
    font-size: 3em;
    margin: 0;
}

.botonBanner {
    margin-top: 20px;
    padding: 10px 20px;
    border: solid 1px white;
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.botonBanner:hover {
    background-color: white;
    color: var(--letters);
}

#dynamic-text, .cursor {
    color: var(--contrast);
}